@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

body{
    overflow-x: hidden;
    height: 100vh;
    box-sizing: border-box;
}
.img-class{
    width: 206px;
    height: 100px;
}
.nav-1{
    position: relative;
    left: 400px;
    margin: 50px;
    text-decoration: none;
    font-family:'Montserrat' sans-serif ;
    font-weight: 600;
    color: black;
    line-height: 28px;
    font-style: normal;
    font-size: 16px;
}
.img1{
    width: 1440px;
    height: 619px;
    top: -1px;
}
.layoutText{
    display: none;
}
h3{
    position: absolute;
    left: 44.08%;
    right: 44.08%;
    top: 146px;
    bottom: 88.96%;
    font-family: 'Montserrat' sans-serif;
    font-weight: 700;
    line-height: 36px;
    font-size: 24px;
    letter-spacing: 0.1px;
    text-align: center;
    color: #F6F6F6;
}
h4{
    font-family: 'Montserrat' sans-serif;
    font-weight: 700;
    line-height: 36px;
    font-size: 24px;
    letter-spacing: 0.1px;
    text-align: center;
    color: #F6F6F6;
}
h2{
    position: absolute;
    left:130px ;
    right: 3.38%;
    top: 10%;
    bottom: 5.56%;
    width: 700px;
    height: 160px;
    font-family: 'Poppins' sans-serif;
    font-weight: 700;
    color: #F6F6F6;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    align-items: center;
}
.title{
    position: absolute;
    left:260px ;
    right: 3.38%;
    top: 30%;
    bottom: 5.56%;
    width: 937px;
    height: 160px;
    font-family: 'Poppins' sans-serif;
    font-weight: 700;
    color: #F6F6F6;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    align-items: center;
}
.tugmalar{
    width: 236px;
    height: 68px;
    border-radius: 30px;
    padding: 16px 0px 16px 0px;
    background: #FA4A0C;
    color:black;
    position: absolute;
    margin-left: 420px;
    top: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}
.tugmalar1{
    width: 236px;
    height: 68px;
    border-radius: 30px;
    padding: 16px 0px 16px 0px;
    color:black;
    position: absolute;
    margin-left: 800px;
    top: 500px;
    background: transparent;
    border: 1px solid blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tugmaGroup{
    display: flex;
}
.phone1{
    width: 550px;
    height: 770px;
    position: absolute;
    top: 500px;
    left: 350px;
}
.phone2{
    width: 285px;
    height: 531px;
    position: absolute;
    /* width: 299px;
    height: 586px; */
    top: 670px;
    left: 700px;
}
hr{
    width: 884px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    order: 5px;
    position: absolute;
    top: 1300px;
    left: 278px;
}
.oldPhone{
    width: 302px;
    height: 525px;
    position: absolute;
    top: 1400px;
    left: 200px;
}
.textro{
    position: absolute;
    top: 1350px;
    left: 500px;
    font-family: 'Poppins' sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 36px;
    letter-spacing: 0.1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.creat{
    width: 232px;
    height: 36px;
    font-family: 'Montserrat' sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    position: absolute;
    top: 1500px;
    left: 670px;
}
.creatText{
    width: 561px;
    height: 114;
    font-family: 'Montserrat' sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0.2px;
    position: absolute;
    top: 1550px;
    left: 550px;
}
.creatTexts{
    width: 467px;
    height: 76px;
    font-family: 'Montserrat' sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    position: absolute;
    top: 1670px;
    left:550px ;
}
.footer{
    width: 100%;
    height: 516px;
    position: absolute;
    top: 2400px;
    left: 0px;
    /* background-color: #65717d; */
    background: linear-gradient(0deg, #0553a1,#fff);
}
/* card crousel code with net */
#malumot{
    font-size: 40px;
    font-family: 'Montserrat' sans-serif;
    font-weight: 500;
    position: absolute;
    top: 1820px;
    left: 420px;
}

img{
    height: 15rem;
    width: 20rem;
    object-fit: cover;
  }
  .card-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 1300px;
}

.card-carousel .my-card{
  height: 15rem;
  width: 20rem;
  position: relative;
  z-index: 1;
  -webkit-transform: scale(0.6) translateY(-2rem);
  transform: scale(0.6) translateY(-2rem);
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  background: #2e5266;
  background: linear-gradient(to top, #2e5266, #6e8898);
  transition: 1s;
  box-shadow: 5px 5px 5px 2px #1d242e;
}

.card-carousel .my-card:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 50%;
  border-radius: 100%;
  background-color: rgba(0,0,0,0.3);
  bottom: -5rem;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.card-carousel .my-card.active {
  z-index: 3;
  -webkit-transform: scale(1) translateY(0) translateX(0);
  transform: scale(1) translateY(0) translateX(0);
  opacity: 1;
  pointer-events: auto;
  transition: 1s;
}

.card-carousel .my-card.prev, .card-carousel .my-card.next {
  z-index: 2;
  -webkit-transform: scale(0.8) translateY(1rem) translateX(0);
  transform: scale(0.8) translateY(1rem) translateX(0);
  opacity: 0.6;
  pointer-events: auto;
  transition: 1s;
}
.card-carousel .my-card:nth-child(0):before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}

.card-carousel .my-card:nth-child(1):before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}

.card-carousel .my-card:nth-child(2):before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}

.card-carousel .my-card:nth-child(3):before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}

.card-carousel .my-card:nth-child(4):before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}
.day, .soat,.minut,.month{
    width: 100px;
    height: 100px;
    background: #1d242e;
    /* opacity: 0.6; */
    margin: 10px;
    font-size: 60px;
    font-family: 'Montserrat' sans-serif;
    font-weight: 700;
    color: gold;  
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    transition: 2s;
}
.muddat{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2600px;
    left: 70px;
}
/* iconlarlar jamlanmasi shu yerdan boshlanadi */
ul{
    position: absolute;
    top: 430%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
    padding: 0px;
    display: flex;
}
ul li{
    list-style: none;
    border-radius: 50%;
}
ul li a{
    position: relative;
    width: 80px;
    height: 80px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    box-shadow: 0 20px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, rgb(160, 154, 154),rgb(212, 201, 201));
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
ul li a:hover{
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-decoration: none;
}
ul li:nth-child(1) a:hover .fab{
    color: #3b5998;
}
ul li a.fab{
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, #242424, #242424);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 60px;
    color: #262626;
    transition: 1s;
}
.footer-text{
    /* width: 300px;
    height: 100px; */
    font-family: 'Montserrat' sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #000;
    position: absolute;
    top: 370%;
    left: 500px;
}
/* formlar joylashgan joyi */
.form-group{
	width: 200px;
	height: 200px;
   margin: 10px;
   position: absolute;
   top: 380%;
   left: 1000px;
   /* background: linear-gradient(0deg, #03c0ad, rgb(148, 107, 107)); */
  
}
#inputStyle{
   margin: 10px;
   border-left: none;
   border-right: none;
   border-top: none;
   outline: none;
   background-clip: border-box;
    background: linear-gradient(0deg, #0553a1,#fff);
    background-position: unset;
}
input:focus,
input:active {
  border-color: transparent;
  border-bottom: 2px solid #1c87c9;
  transition: 2s;
}
#user1{
   position: relative;
   top: 35px;
   font-size: 20px;
   left: -3px;
} 
#user2{
   position: relative;
   top: 35px;
   font-size: 20px;
   left: -3px;
} 
#lock{
   position: relative;
   top: 35px;
   font-size: 20px;
   left: -4px;
}

/* media boshlangan joy */

    
